@import "tailwindcss";


:root {
    /* Light mode variables */
     
    --background-color: #ffff;
    --text-color: rgb(0, 0, 0);
}

.dark {
  /* Dark mode variables */
    background-color: #100435;
    color: #ffff;
}