@import "tailwindcss";


:root {
    /* Light mode variables */
     
    --background-color: #ffff;
    --text-color: #1a1a1a
}

.dark {
  /* Dark mode variables */
    background-color: #090638;
    color: #ffff;
}