@import "tailwindcss";

body {
  background: linear-gradient(135deg, #0f1419 0%, #1a1f2e 50%, #0f1419 100%);
  color: #fff;
  min-height: 100vh;
}
.dark {
  background: linear-gradient(135deg, #0f1419 0%, #1a1f2e 50%, #0f1419 100%);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
/* optional hide scrollbar
---Chrome , Safari, Edge---
::-webkit-scrollbar{
  display: none;
} */
/* *{
  scrollbar-width: none;
  -ms-scroll-style:none;
}  */

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track{
  background-color:#1F2937;
}
::-webkit-scrollbar-thumb{
  background-color: #3B82F6;
  border-radius: 9999px;
  transition:background-color 0.3s ease;
}
::-webkit-scrollbar-thumb{
  background-color: #2563EB;
}